<div class="wrapper">
  <input type="text" [(ngModel)]="searchValue" class="input" id="search" placeholder="Search anything here"/>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Pincode</th>
      <th scope="col">Mobile No</th>
    </tr>
  </thead>
  <tbody *ngIf ='Students'>
    <tr *ngFor="let student of Students | searchfilter:searchValue" class="active-row">
      <td scope="col">{{student.Name}}</td>
      <td scope="col">{{student.City}}</td>
      <td scope="col">{{student.State}}</td>
      <td scope="col">{{student.Pincode}}</td>
      <td scope="col">{{student.MobileNo}}</td>
    </tr>
  </tbody>
</table>
